force-app/main/default/flows/Automatically_set_admission_date_as_today_when.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_Admission_date</name>
        <label>Set Admission date</label>
        <locationX>176</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_Admitted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>returnstodaysdate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>check_stay_needed</name>
        <label>check stay needed</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Set_Admission_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>stay_needed_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Stay_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Admission_date</targetReference>
            </connector>
            <label>stay needed is true</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>returnstodaysdate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Automatically set admission date as today when {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automatically set admission date as today when patient is created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_stay_needed</targetReference>
        </connector>
        <object>Patient__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
