force-app/main/default/flows/Doctor_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <choices>
        <name>permanent</name>
        <choiceText>Permanent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Permanent</stringValue>
        </value>
    </choices>
    <choices>
        <name>trainee</name>
        <choiceText>Trainee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trainee</stringValue>
        </value>
    </choices>
    <choices>
        <name>visitor</name>
        <choiceText>Visitor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Visitor</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Which_Record_Type</name>
        <label>Which Record Type</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>permanent_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>permanent</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Specific_Info</targetReference>
            </connector>
            <label>Permanent</label>
        </rules>
        <rules>
            <name>Trainee_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>trainee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Specific_Info</targetReference>
            </connector>
            <label>Trainee</label>
        </rules>
        <rules>
            <name>Visting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>visitor</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Specific_Info</targetReference>
            </connector>
            <label>Visting</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Doctor__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>prog</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Trainee_program__c</picklistField>
        <picklistObject>Doctor__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>saluat</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Saluation__c</picklistField>
        <picklistObject>Doctor__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>spec_pick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Specialization__c</picklistField>
        <picklistObject>Doctor__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Doctor Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Doctor Creation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreatePermanentDoctor</name>
        <label>Create Permanent Doctor</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Copy_1_of_Thank_You</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Number__c</field>
            <value>
                <elementReference>phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Genderc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012dL000003ltovQAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Saluation__c</field>
            <value>
                <elementReference>Saluation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specialization__c</field>
            <value>
                <elementReference>spec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Years_of_Experience__c</field>
            <value>
                <elementReference>Copy_2_of_Years_of_Experience</elementReference>
            </value>
        </inputAssignments>
        <object>Doctor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateTraineeDoctor</name>
        <label>Create Trainee Doctor</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>disp1</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Number__c</field>
            <value>
                <elementReference>phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Evaluation__c</field>
            <value>
                <elementReference>Evaluation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Genderc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012dL000003ls6YQAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Saluation__c</field>
            <value>
                <elementReference>Saluation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specialization__c</field>
            <value>
                <elementReference>spec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trainee_program__c</field>
            <value>
                <elementReference>Trainee_Program</elementReference>
            </value>
        </inputAssignments>
        <object>Doctor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateVisitorDoctor</name>
        <label>Create Visitor Doctor</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>disp2</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Number__c</field>
            <value>
                <elementReference>phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Genderc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose_of_visit__c</field>
            <value>
                <elementReference>Copy_1_of_Purpose_of_Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012dL000003ltIkQAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Saluation__c</field>
            <value>
                <elementReference>Saluation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specialization__c</field>
            <value>
                <elementReference>spec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_duration__c</field>
            <value>
                <elementReference>Copy_1_of_Visting_Duration</elementReference>
            </value>
        </inputAssignments>
        <object>Doctor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>basic_info</name>
        <label>basic info</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>record_type</targetReference>
        </connector>
        <fields>
            <name>Saluation</name>
            <choiceReferences>saluat</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Saluation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Genderc</name>
            <choiceReferences>gender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>spec</name>
            <choiceReferences>spec_pick</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Specialization</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Specific_Info</name>
        <label>Visiting</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateVisitorDoctor</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Purpose_of_Duration</name>
            <dataType>String</dataType>
            <fieldText>Purpose of Duration</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Visting_Duration</name>
            <dataType>DateTime</dataType>
            <fieldText>Visting Duration</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Thank_You</name>
        <label>Thank You</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_dis2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(17, 215, 96);&quot;&gt;A new Permanent Doctor has been added&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Specific_Info</name>
        <label>Permanent</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreatePermanentDoctor</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Years_of_Experience</name>
            <dataType>Number</dataType>
            <fieldText>Years of Experience</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>disp1</name>
        <label>Thank You</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dis1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(22, 199, 58);&quot;&gt;A new Trainee Doctor has been added&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>disp2</name>
        <label>Thank You</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dis2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(17, 215, 96);&quot;&gt;A new Visiting Doctor has been added&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>record_type</name>
        <label>record type</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Record_Type</targetReference>
        </connector>
        <fields>
            <name>choice</name>
            <choiceReferences>visitor</choiceReferences>
            <choiceReferences>trainee</choiceReferences>
            <choiceReferences>permanent</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Record Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Specific_Info</name>
        <label>Trainee</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateTraineeDoctor</targetReference>
        </connector>
        <fields>
            <name>Evaluation</name>
            <dataType>String</dataType>
            <fieldText>Evaluation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Trainee_Program</name>
            <choiceReferences>prog</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Trainee Program</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>basic_info</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
</Flow>
